/.config*
/.q2pro/
/.q2proded/
/.baseq2/
/q2pro*
/q2proded*
/baseq2/
/game*.so
/game*.dll
/tags
/TAGS
/proj/.vs*
/proj/rf_genx_Debug_x86*
/proj/sv_genx_Debug_x86*
/proj/cl_genx_Debug_x86*
/proj/game_Debug_x86*
/proj/genx_Debug_x86*
/proj/rf_genx_Release_x86*
/proj/sv_genx_Release_x86*
/proj/cl_genx_Release_x86*
/proj/game_Release_x86*
/proj/genx_Release_x86*
/proj/rf_genx_Debug_x64*
/proj/sv_genx_Debug_x64*
/proj/cl_genx_Debug_x64*
/proj/game_Debug_x64*
/proj/genx_Debug_x64*
/proj/rf_genx_Release_x64*
/proj/sv_genx_Release_x64*
/proj/cl_genx_Release_x64*
/proj/game_Release_x64*
/proj/genx_Release_x64*
/proj/packages*
.vs
obj
/bin/genx.exe
/bin/genx.exe.lastcodeanalysissucceeded
/bin/genx.ilk
/bin/genx.pdb
/bin/genx/asset_paths.cfg
/bin/genx/*.pkz
/bin/genx/gamex86.dll
/bin/genx/gamex86.exp
/bin/genx/gamex86.ilk
/bin/genx/gamex86.lib
/bin/genx/gamex86.pdb
/bin/genx/genxconfig.cfg
/bin/genx/netcoreapp2.1
/bin/genx/save/.current/*.ssv
/bin/genx/save/save0/*.ssv
/bin/genx/wsc_designer.exe
/bin/genx/wsc_designer.exe.config
/bin/genx/wsc_designer.pdb
/proj/transpiler_core/bin/Debug/netcoreapp2.1
/proj/wsc_designer/bin/Debug
