/.config*
/.q2pro/
/.q2proded/
/.baseq2/
/q2pro*
/q2proded*
/baseq2/
/game*.so
/game*.dll
/tags
/TAGS
/proj/.vs*
/proj/rf_genx_Debug_x86*
/proj/sv_genx_Debug_x86*
/proj/cl_genx_Debug_x86*
/proj/game_Debug_x86*
/proj/genx_Debug_x86*
/proj/rf_genx_Release_x86*
/proj/sv_genx_Release_x86*
/proj/cl_genx_Release_x86*
/proj/game_Release_x86*
/proj/genx_Release_x86*
/proj/rf_genx_Debug_x64*
/proj/sv_genx_Debug_x64*
/proj/cl_genx_Debug_x64*
/proj/game_Debug_x64*
/proj/genx_Debug_x64*
/proj/rf_genx_Release_x64*
/proj/sv_genx_Release_x64*
/proj/cl_genx_Release_x64*
/proj/game_Release_x64*
/proj/genx_Release_x64*
/proj/packages*
.vs
bin
obj
